"development":
  "sleeptime": 30
  "redis":
    "host": "localhost"
    "port": 6379
    "password": ""
    "db": 1
  "build":
    "root": "build/"
  "rackspace_auth_url": "https://lon.auth.api.rackspacecloud.com/v1.0"
  "rackspace_api_key": "thekey"
  "rackspace_username": "theusername"
  "logfile": 'builder.log'
  "cuddy_token": "cezfreg"
"production":
  "sleeptime": 300
  "redis":
    "host": "theremote.host"
    "port": 6379
    "password": "somepassword"
    "db" : 1
  "build":
    "root": "/var/build"
  "rackspace_auth_url": "https://lon.auth.api.rackspacecloud.com/v1.0"
    "rackspace_api_key": "thekey"
    "rackspace_username": "theusername"
    "logfile": '/var/log/pinpin_builder/builder.log'
    "cuddy_token": "zefqzg"

